# 1. Ignora tutto (file e cartelle)
*

# 2. Permetti a Git di ENTRARE nelle sottocartelle (altrimenti non vedrà mai cosa c'è dentro)
!*/

# 3. Specifica cosa NON ignorare (Whitelist)
!my_ros2_ws/**
!docker/**
!.gitignore
!README.md
!*.sh
!*.md

# 4. Filtri di sicurezza (Ignora le build dentro le cartelle autorizzate)
**/build/
**/install/
**/log/
**/.catkin/
**/build_local/
**/*.pyc
.vscode/
.DS_Store

