# ==========================================
# 1. BLOCCA TUTTO (Whitelist approach)
# ==========================================
# Ignora qualsiasi file e cartella di default
*

# ==========================================
# 2. SBLOCCA L'ESPLORAZIONE DELLE CARTELLE
# ==========================================
# Essenziale: permette a Git di entrare nelle directory per cercare i file consentiti
!*/

# ==========================================
# 3. COSA SALVARE (Le eccezioni)
# ==========================================
# File di configurazione e documentazione
!.gitignore
!.gitmodules
!README.md

# La cartella ROS 2 e tutti i file al suo interno
!my_ros2_ws/
!my_ros2_ws/**

# La cartella ROS 2 e tutti i file al suo interno
!docker/
!docker/**

# Le cartelle relative all'haptic device
!forcedimension_ros2/
!forcedimension_ros2/**
!fd_sdk_vendor/
!fd_sdk_vendor/**

# ==========================================
# 4. RI-BLOCCA LE SCHIFEZZE (Dentro le aree sbloccate)
# ==========================================
# Anche se my_ros2_ws è sbloccata, blocchiamo le cartelle di build
my_ros2_ws/build/
my_ros2_ws/install/
my_ros2_ws/log/
PX4-Autopilot/

# Ignora file temporanei di Python
__pycache__/
*.pyc
